<footer class="text-center mt-auto">
    <div class="w-100 text-muted py-4">
        © 2017–<%= new Date().getFullYear() %> Awesome Company.
    </div>
</footer>
</div>
<script src="/javascripts/script.js"></script>

</body>

</html>