<%- include('partials/header') %>

    <div class="d-flex text-center mt-auto">
        <div class="container">
            <i class="fas fa-unlock-alt fa-6x mb-4"></i>
            <p class="display-5"></p>
            <hr>
            <a class="btn btn-outline-info btn-lg mx-2" href="/logout" role="button">Sair</a>
        </div>
    </div>

<%- include('partials/footer') %>