<%- include('partials/header') %>

    <div class="d-flex text-center shadow mt-auto">
        <div class="container my-5">
            <i class="fas fa-unlock-alt fa-6x mb-4"></i>
            <p class="display-6 text-sand"><%= credentials._id %> </p>
            <p class="display-6 text-sand"><%= credentials.username %> </p>
            <hr>
            <a class="btn btn-outline-light btn-lg mx-2" href="/logout" role="button">Sair</a>
        </div>
    </div>

<%- include('partials/footer') %>