<%- include('./partials/header') %>

    <div class="d-flex mt-auto flex-column text-center">
        <h1 class="display-3"><%= message %></h1>
        <h2 class=""><%= error.status %></h2>
    </div>

<%- include('./partials/footer') %> 