<%- include('./partials/header') %>

    <div class="d-flex mt-auto flex-column text-center">
        <h1 class="display-3 text-sand"><%= message %></h1>
        <h2 class="text-sand"><%= error.status %></h2>
    </div>

<%- include('./partials/footer') %> 