<%- include('partials/header') %>

    <div class="registrar shadow border rounded-3">
        <h2 class="text-center text-sand mb-5">Login</h2>
        <div class="row">
            <div class="col-lg-6 col-sm-10 mx-auto">
                <form action="/login" method="POST">
                    <section class="mb-3">
                        <label for="email" class="form-label text-sand">Email</label>
                        <input type="email" class="form-control" name="username" id="email" autocomplete="username"
                            required autofocus>
                    </section>
                    <section class="mb-3">
                        <div class="d-flex justify-content-between">
                            <label for="inputPass" class="form-label text-white">Password</label>
                            <div class="d-flex">
                                <% if (info) { %>
                                    <span class="material-icons text-danger">error_outline</span>
                                    <p class="text-danger ms-1 m-0">
                                        <%= info %>
                                            <% } %>
                                    </p>
                            </div>
                        </div>
                        <input type="password" class="form-control" id="inputPass" name="password" minlength="4"
                            autocomplete="current-password" required>
                    </section>
                    <section class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="showPass">
                        <label class="form-check-label text-sand" for="showPass">mostrar senha</label>
                    </section>
                    <div class="mb-3 d-flex justify-content-between">
                        <a class="btn btn-outline-light btn-lg" href="/" role="button">Voltar</a>
                        <button type="submit" class="btn btn-warning btn-lg">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>