<%- include('partials/header') %>

<div class="d-flex text-center mt-auto">
        <div class="container">
            <i class="fas fa-unlock-alt fa-6x mb-4"></i>
            <h1 class="display-5">Autenticação bem sucedida!</h1>
            <hr>
            <a class="btn btn-outline-info btn-lg mx-2" href="/logout" role="button">Sair</a>
            <a class="btn btn-dark btn-lg" href="/credentials" role="button">Verificar credenciais</a>
        </div>
    </div>

<%- include('partials/footer') %>