<%- include('partials/header') %>

<div class="d-flex text-center shadow mt-auto">
        <div class="container my-5">
            <i class="fas fa-unlock-alt fa-6x mb-4"></i>
            <h1 class="display-5 text-sand">Autenticação bem sucedida!</h1>
            <hr>
            <a class="btn btn-outline-light btn-lg mx-2 mt-4" href="/logout" role="button">Sair</a>
            <a class="btn btn-warning btn-lg mt-4" href="/credentials" role="button">Verificar credenciais</a>
        </div>
    </div>

<%- include('partials/footer') %>