:root{
  --bs-green: #5cdb95;
  --bs-sand: #edf5e1;
  --bs-darkblue: #05386b;
  --bs-bluediamond: #66fcf1;
  --bs-gray: #c5c6c7;
}

i{
  color: var(--bs-bluediamond);
}

input[type=email]:not(:focus):invalid,
input[type=password]:not(:focus):invalid {
  color: red;
  outline-color: red;
}

.bg-darkgreen{
  background-image: linear-gradient(180deg, #66fcf1, #0b0c10);
}

.material-icons.md-18 { 
  font-size: 18px; 
}

.registrar{
  margin: 7rem 20rem 0;
  padding: 1rem;
}

.text-sand{
  color: var(--bs-sand);
}

@media(max-width: 850px) {
  .registrar{
    margin: 7rem 8rem 0;
    padding: 1rem;
  }
}

@media(max-width: 576px) {
  .registrar{
    margin: 4rem 4rem 0;
    padding: 1rem;
  }
}